sca_xxHaspFTP/xxHaspFtp.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="UploadFilesRequest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="haspInterfaceId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="DBjndiName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FTPjndiName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="currDate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="UploadFilesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="bpelInstanceId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="errCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="errMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DownLoadFilesRequest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="haspInterfaceId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="logFileName" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="FTPjndiName" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="DownLoadFilesResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="bpelInstanceId" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="errCode" type="s:string"/>
                  <s:element minOccurs="0" maxOccurs="1" name="errMessage" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </wsdl:types>
   <wsdl:message name="UploadFilesSoapIn">
      <wsdl:part name="parameters" element="tns:UploadFilesRequest"/>
   </wsdl:message>
   <wsdl:message name="UploadFilesSoapOut">
      <wsdl:part name="parameters" element="tns:UploadFilesResponse"/>
   </wsdl:message>
   <wsdl:message name="DownLoadFilesSoapIn">
      <wsdl:part name="parameters" element="tns:DownLoadFilesRequest"/>
   </wsdl:message>
   <wsdl:message name="DownLoadFilesSoapOut">
      <wsdl:part name="parameters" element="tns:DownLoadFilesResponse"/>
   </wsdl:message>
   <wsdl:portType name="xxHaspFTPSoap">
      <wsdl:operation name="DownLoadFiles">
         <wsdl:input message="tns:DownLoadFilesSoapIn"/>
         <wsdl:output message="tns:DownLoadFilesSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="UploadFiles">
         <wsdl:input message="tns:UploadFilesSoapIn"/>
         <wsdl:output message="tns:UploadFilesSoapOut"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
